@import '../node_modules/modern-normalize/modern-normalize.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(-110deg, #d0f0e8, #c9f3e5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

svg {
  pointer-events: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #1e74e6;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(10, 21, 170);
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#imageWrapper::before {
  display: inline-block;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 43px;
  background-color: rgba(21, 32, 29, 0.514);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

ul>li:hover #description,
ul>li:hover #imageWrapper::before {
  transform: translateY(0%);
  opacity: 1;
  transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 400ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}